{% extends "core/base_template.html" %}
{% load currency_filter %}
{% block title %}{{ reservation.full_name }} - {{ reservation.event.name }}{% endblock %}
{% block content %}
<p>
  Vous avez déjà une réservation au nom de {{ reservation.full_name }} pour {{ reservation.places|plural:"place" }} le {{ reservation.event.date|french_date }} que vous pouvez <a class="link-primary" href="{% url 'concert:show_reservation' reservation.uuid %}">visualiser ici</a>.
</p>
<p>
  Si au lieu de voir <a class="link-primary" href="{% url 'concert:show_reservation' reservation.uuid %}">votre ancienne réservation</a>, vous voulez vraiment <a class="link-underline-primary" href="{% url 'concert:reservation_form' event_id %}?force=True">faire une nouvelle réservation, confirmez en cliquant ici</a>.
</p>
{% endblock %}
