{% extends "core/base_template.html" %}
{% load currency_filter %}
{% block title %}{{ form.event.name }}{% endblock %}
{% block style %}
input[type="number"].form-control { padding-left: 0; padding-right 0; }
input[type="number"].col-form-control { padding-left: 0; padding-right 0; }
{% endblock %}
{% block content %}
<script>
  document.addEventListener('DOMContentLoaded', function () {
      const errorClass = 'is-invalid';
      const form = document.querySelector('#reservation_form_id');
      const prices = {
          {% for inpt in form.choices %}
          '{{ inpt.id }}': {{ inpt.choice.price_in_cents }},
          {% endfor %}
      };
      function sumOfInputFields(inputFieldIds) {
          return inputFieldIds.reduce((sum, fieldId) => sum + parseInt(document.getElementById(fieldId).value),
                                      0);
      }
      function runValidation(input_id) {
          const input_field = document.getElementById(input_id);
          const val = parseInt(input_field.value);
          if (!Number.isNaN(val) && (0 <= val) && (val < 100)) {
              input_field.classList.remove(errorClass);
              return val;
          }
          input_field.classList.add(errorClass);
          return 0;
      }
      function validateAll() {
          let total_places = 0;
          for (let key in prices) {
              total_places += runValidation(key);
          }
          if (total_places < 1) {
              for (let key in prices) {
                  document.getElementById(key).classList.add(errorClass);
              }
          }
      }
      form.addEventListener('submit', function (event) {
          // Reset error classes
          resetErrorClasses();
          validateAll();
          // Prevent form submission if there are errors
          if (form.querySelectorAll('.' + errorClass).length > 0) {
              event.preventDefault();
          }
      });
      function updatePrice() {
          let totalPrice = 0;
          for (let key in prices) {
              const val = document.getElementById(key).value;
              const val_num = val == ''?0:parseInt(val);
              totalPrice += (val_num < 1?0:val_num) * prices[key];
          }
          if (totalPrice < 0) {
              totalPrice = 0;
          }
          const cents = String(totalPrice % 100).padStart(2, '0');
          const has_errors = (form.querySelectorAll('.' + errorClass).length > 0);
          const confirm_or_fix = has_errors?'Vérifiez votre commande':'Confirmer';
          const submit_button = document.getElementById('reservation-submit');
          submit_button.value = (Number.isNaN(totalPrice) || (totalPrice == 0))?confirm_or_fix:`${confirm_or_fix}. Prix total: ${totalPrice / 100}.${cents}€`
          if (has_errors) {
              submit_button.disabled = "disabled";
          } else {
              submit_button.removeAttribute("disabled");
          }
      }
      form.addEventListener('change', function (event) {
          validateAll();
          updatePrice();
      });
      function resetErrorClasses() {
          var errorSections = form.querySelectorAll('.' + errorClass);
          errorSections.forEach(function (section) {
              section.classList.remove(errorClass);
          });
      }
      resetErrorClasses();
      validateAll();
      updatePrice();
  });
</script>
<form id="reservation_form_id" action="{% url 'concert:reservation_form' form.event.id %}" method="post">
  {% csrf_token %}
  {% if form.was_validated and form.errors %}
  <div class="row invalid-feedback" style="display: inline;">{% for err in form.errors %}{{ err }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</div>
  {% endif %}
  <div class="row" style="display: flex;">
    <div class="col-sm-1">
      <select class="form-control {% if form.was_validated %}{% if form.first_name.errors %}is-invalid{% else %}is-valid{% endif %}{% endif %}" id="{{ form.civility.id }}" name="{{ form.civility.name }}">
        <option value="" selected="selected">???</option>
        <option value="Mlle">Mlle</option>
        <option value="Mme">Mme</option>
        <option value="Mr">Mr</option>
      </select>
    </div>
    <div class="col-sm-4">
      <input class="form-control {% if form.was_validated %}{% if form.first_name.errors %}is-invalid{% else %}is-valid{% endif %}{% endif %}" id="{{ form.first_name.id }}" name="{{ form.first_name.name }}" type="text" value="{{ form.first_name.value }}" placeholder="Prénom">
    </div>
    <div class="col-sm-7">
      <input class="form-control {% if form.was_validated %}{% if form.last_name.errors %}is-invalid{% else %}is-valid{% endif %}{% endif %}" id="{{ form.last_name.id }}" name="{{ form.last_name.name }}" required="required" type="text" value="{{ form.last_name.value }}" placeholder="Nom de famille">{% if form.last_name.errors %}{% for err in form.last_name.errors %}<span class="invalid-feedback">{{ err }}</span>{% endfor %}{% endif %}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="{{ form.email.id }}">E-mail</label>
    <div class="col-sm-10">
      <input class="form-control {% if form.was_validated %}{% if form.email.errors %}is-invalid{% else %}is-valid{% endif %}{% endif %}" id="{{ form.email.id }}" name="{{ form.email.name }}" required="required" type="email" value="{{ form.email.value }}">
      {% for err in form.email.errors %}<span class="invalid-feedback">{{ err }}</span>{% endfor %}
    </div>
  </div>
  <div class="form-group">
    <small class="form-text text-muted">La Société Royale d&#8217;Harmonie de Braine-l&#8217;Alleud respecte votre vie privée. Les données de contact que vous nous communiquez dans ce formulaire seront uniquement utilisées dans le cadre de ce {{ form.event.name }}, à moins que vous nous donniez l&#8217;autorisation de les garder pour vous informer de nos concerts et autres fêtes dans le futur. Contactez <a class="link-primary" href="mailto:{{ form.event.contact_email }}">{{ form.event.contact_email }}</a> pour demander d&#8217;être retiré de nos fichiers.</small>
    <div class="form-check">
      <input class="form-check-input" id="{{ form.accepts_rgpd_reuse.id }}" name="{{ form.accepts_rgpd_reuse.name }}" type="checkbox" value="yes"{% if form.accepts_rgpd_reuse.value %}checked="checked"{% endif %}>
      <label for="{{ form.accepts_rgpd_reuse.id }}">Je désire être tenu au courant des activités futures de la SRH de Braine-l&#8217;Alleud et l&#8217;autorise à conserver mon nom et mon adresse email à cette fin.</label>
    </div>
  </div>
  <div class="container">
    {% for inpt in form.choices %}
    <div class="form-group row no-gutters">
      <div style="width: {% if form.was_validated %}4em{% else %}3em{% endif %};">
        <input class="{% if form.was_validated %}{% if inpt.errors %}is-invalid{% else %}is-valid{% endif %}{% endif %} form-control" style="width: {% if form.was_validated %}4em{% else %}3em{% endif %}; padding-left: 0.1em; padding-right: 0.1em" id="{{ inpt.id }}" name="{{ inpt.name }}" value="{{ inpt.value }}" type="text" inputmode="numeric" pattern="\d\d?">
      </div>
      <div style="width: calc(100% - {% if form.was_validated %}4em{% else %}3em{% endif %} - 0.3em)">
        {% if inpt.errors %}<details class="text-white bg-danger"><summary>{% endif %}<label class="form-label" for="{{ inpt.id }}">{{ inpt.choice }} {{ inpt.choice.price_in_cents|cents_to_euros }}</label>{% if inpt.errors %}</summary>{% for err in inpt.errors %}{% if not forloop.first %}<br>{% endif %}{{ err }}{% endfor %}</details>{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  {% if form.was_validated and form.errors %}
  <div class="row invalid-feedback" style="display: inline;">{% for err in form.errors %}{{ err }}{% if not forloop.last %}<br>{% endif %}{% endfor %}</div>
  {% endif %}
  <div class="container"><div class="row"><input class="form-control btn btn-primary" type="submit" value="OK" id="reservation-submit"></div></div>
</form>
{% endblock %}
